/* Resetten van standaardmarges en -vullingen voor de hele pagina */
body, h1, h2, p, ul, li, .header {
    margin: 0;
    padding: 0;
}

/* Stijl voor de bovenste balk met navigatielinks */
.header {
    background-color: #007c38; /* Achtergrondkleur van de balk */
    color: #fff; /* Tekstkleur van de balk */
    padding: 20px 0; /* Ruimte rond de tekst in de balk */
    display: flex; /* Maak de header een flex-container */
    justify-content: center; /* Verdeel de ruimte tussen de logo en tekst */
    align-items: center; /* Centreer verticaal */
    height: auto; /* Maak de hoogte automatisch aanpassend */
    text-align: center;
    text-shadow: 4px 4px px rgba(0, 0, 0, 0.5); /* Schaduw toevoegen aan de tekst */
    font-size: 30px;
}

/* Stijl voor het logo */
.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

/* Stijl voor de navigatielinks */
.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centreer de links binnen de balk */
    align-items: center; /* Centreer de links verticaal */
}

.nav-links li {
    margin: 0 15px; /* Afstand tussen de link-items */
}

.nav-links a {
    text-decoration: none;
    color: #fff; /* Kleur van de linktekst */
    font-weight: bold;
    text-align: center; /* Centreer de tekst in de links */
}

/* Stijl voor de inhoud van de pagina */
.content {
    padding: 20px;
}

/* Voorbeeldstijl voor een kop */
h1 {
    font-size: 32px;
    color: #333; /* Tekstkleur voor koppen */
    text-align: center;
}

/* Voorbeeldstijl voor alinea's */
p {
    font-size: 25px;
    line-height: 1.5;
    color: #666; /* Tekstkleur voor alinea's */
    text-align: center;
}
